# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin/*

# Ignore vscode-specific files
.vscode
.VSCodeCounter

node_modules

backend/session_secret
backend/site_stats.csv

*.log

*.csr
*.crt
*.key
*.pem

.env
__pycache__
output

*.pyc

old
(ign)*

mod_list.min.json

public/data/*

chromedriver*.exe

public/js/ts-compiled
