
@use 'material_mixin';

#categories_wrapper {
    // max-width: 100%;
}

#categories {
    box-sizing: border-box;

    background-color: var(--color-element);
    border-radius: 8px;
    
    padding: 8px;
    overflow-y: auto;
    overflow-x: hidden;

    & > hr {
        color: var(--color-accent-1);
        border-color: var(--color-accent-1);
    }

}
#categories_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100%;
    min-height:0;
    max-height: inherit;

}
#categories_list > button {
    border-radius: 12px;
    width: min-content;
    cursor: pointer;
    border: 2px solid var(--color-element-1);
}
#categories_list > :hover {
    border: 2px solid var(--color-accent-2);
}
#categories_list > button.selected {
    border: 2px solid var(--color-accent-1);
}
#categories_list > button > span {
    background-color: var(--color-element);
    margin-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 8px;
    pointer-events: none;
}
#categories_list > button {
    /* display: inline; */
    height: auto;
    margin-right: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 12px;
    background-color: var(--color-element-1);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid var(--color-accent-1); */

    overflow: visible;
    white-space: nowrap;
    min-width: min-content;
}

#categories_list_toggle {
    display: none;
}

// MOBILE
@mixin mobile {
    #categories_wrapper {
        
        max-height: 256px;
        width: 100%;
        
        & > #categories {
            position: relative;
            width: 100%;
            height: min-content;
            #categories_list_wrapper {
                overflow-x: scroll;
                width: 100%;
                background-color: var(--color-element);
            }
            & #cat_head {
                cursor: pointer;
                #categories_list_toggle {
                    display: block;
                    margin-left: auto;
                    margin-right: 0.5rem;
                    cursor: pointer;
                }
            }

            & hr,
            & #categories_list_wrapper {
                height: 0;
                display: none;
            }
            &.open {
                & hr {
                    display: block;
                }
                & #categories_list_wrapper {
                    top: 100%;
                    left: 0;
                    height: auto;
                    width: 100%;
                    display: block;
                }
            }
        }

        & #categories_list {
            flex-direction: row;
            max-height: 256px;
            width: 1000px;
            transition: height 0.5s;
            will-change: height;
        }
    }

}
#categories_list > .selected {
    border: 2px solid var(--color-accent-1);
}

// PC
@mixin fullsize {
    #categories_wrapper {
        justify-self: right;
        
        & > #categories {
            // margin-top: 32px;
            width: var(--categories-width);
            height: auto;
            max-height: 100%;
            min-height:0;
            // max-height: calc(100vh - (56px + var(--spacing-amount) + (8px + 42px + 8px) + (8px + 10% + 8px)));
            #cat_layout_btn {
                margin-left: auto;
                // border: 1px solid var(--color-element-1);
                &:hover {
                    // color: var(--color-accent-1);
                    background-color: var(--color-element-1);
                }
                &:active {
                    // color: var(--color-accent-1);
                    background-color: var(--color-element-2);
                }
                &::after {
                    @include material_mixin.icon;
                    content: "view_list";
                }
            }
            &.view_list {
                #cat_layout_btn::after {
                    content: "view_quilt";
                }

                display: flex;
                flex-direction: column;
                overflow-y: hidden;
                & #categories_list_wrapper {
                    flex-shrink: 1;
                    overflow-y: auto;
                }
                & #categories_list {
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: stretch;
                    gap: 2px;
                    & button {
                        white-space: nowrap;
                        width: auto;
                        justify-content: space-between;
                        background-color: var(--color-element-2);
                        border-radius: 4px;
                        border-width: 1px;
                        margin: 1px;
                        &:hover {
                            border-color: var(--color-accent-2);
                        }
                        &.selected {
                            border: 2px solid var(--color-accent-1);
                            margin: 0;
                        }
                        // border-color: var(--color-element-2);
                        // border-bottom: 2px solid var(--color-element-1);

                    }
                }
            }
        }
        height: auto;
        min-height:0;
        grid-row: cat-start / cat-end;
    }

}
