$iconSize: 24px;
.mr_icon {
    background-image: url('/img/modrinth.svg');
    height: $iconSize;
    width: $iconSize;
    background-size: $iconSize;
}

// $cfIconWidth: clamp($iconMinDim, $iconBaseDim, 100%);
// $cfIconHeight: clamp($iconMinDim * $cfAspectRatioInv, $iconBaseDim * $cfAspectRatioInv, 100%);
.cf_icon {
    --cf-aspect-inv: 0.53446694;
    background-image: url('/img/curse.svg');
    height: calc(24px * var(--cf-aspect-inv));
    width: $iconSize;
    background-size: $iconSize;
    background-repeat:  no-repeat;
}



.filter-grey {
    filter: grayscale(100%) opacity(50%);
    // filter: grayscale(100%) sepia(100%) hue-rotate(90deg) opacity(50%);
}

.icon_button {
    border-radius: 6px;
    height: $iconSize;
    width: $iconSize;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 4px;
    border: 1px solid transparent;
    &.inline {
        width: auto;
        height: auto;
        padding: 0 4px;

        .mr_icon {
            height: 1em;
            width: 1em;
            background-size: 1em;
        }
        
        // For some reason cf svg has empty space at right side.
        .cf_icon {
            --cf-aspect-inv: 0.53446694;
            --cf-aspect-em: calc(1em / var(--cf-aspect-inv));
            width: var(--cf-aspect-em);
            height: 1em;
        }
    }
    &[href] {
        &:hover {
            background-color: var(--color-base-1);
            border: 1px solid var(--color-accent-1);
        }
    }

    &:not([href]) {

    }
}