
.item {
    /* display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-items: flex-start; */
    display: grid;
    grid-template-columns: 82px minmax(0, 1fr);
    grid-gap: 6px;
    height: auto;
}
.item:nth-child(even) > .container,
.item.detailed:nth-child(even) {
    background-color: var(--color-element);
}
.item:nth-child(odd) > .container,
.item.detailed:nth-child(odd) {
    background-color: var(--color-element-2);
}

.container > *:first-child {
    margin-right: 10px;
}


.container > *,
.desc {
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    color: var(--color-text-1);
}
.container > *:not(:last-child) {
    margin-right: 6px;
}

/* DISABLES WORD WRAP */
#search_results_list .container b,
.container a,
.container > ul,
.container > button {
    overflow: visible;
    white-space: nowrap;
    min-width: min-content;
}
.name {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-accent-1);
}
.name:hover {
    // text-decoration: underline;
}
.desc {
    margin: 0;
    /* height: 18px; */
    line-height: 1.35em;
    font-size: 0.85em;
}
.item_categories {
    /* width: 128px; */
    height: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.container > :last-child {
    /* display: block; */
    margin-left: auto;
    padding: 0;
    background-color: transparent;

    min-width: min-content;
    appearance: button;

}
.item .material-icons {
    font-size: 1.5em;
    font-weight: 300;
}
.out_link {
    width: 32px;
    height: 32px;
    max-height: 32px;
    line-height: 32px;    
    margin-top: auto;
    margin-bottom: auto;
    visibility: hidden;
}

.item:hover {
    & .out_link {
        visibility: visible;
    }
}

.start_container {
    float: left;
    z-index: 1;
    width: 82px;
    height: inherit; /*height of .container*/
    margin-right: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}
.dl_count {
    text-align: right;
    height: min-content;
}

.container {
    display: flex;
    align-items: center;
    height: var(--item-height);
    background-color: inherit;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid var(--color-base);
    max-width: 100%;
    border-radius: 6px;
    /* width: 100%; */
}
.front_container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-height: calc(100% - 4px);
}
.end_container {
    flex: 1;
    display: grid;
    grid-template-columns: auto 34px;
    grid-template-rows: 1fr 1fr;
    flex-wrap: nowrap;
    /* width: 33%; */
    height: 100%;
    align-content: center;
    
    & .item_categories {
        grid-row: 1 / 3;
    }

    & .icon_button:nth-child(2) {
        align-self: end;
    }

    & .icon_button:nth-child(3) {
        align-self: start;
    }
}

.container:hover {
    border: 1px solid var(--color-accent-1);
}

@mixin narrow_screen {
    .item {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 6px;
        height: auto;

        & .desc {
            max-height: 100%;
        }

        .front_container {
            & > :first-child {
                .name {
                    display: block;
                }
            }
        }

        & .end_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                "cat cat"
                "cat cat"
                "cf  mr";
            & .item_categories {
                grid-column: 1 / 3;
                grid-row: 1 / 3
            }
            & > a.icon_button {
                align-self: center;
                justify-self: center;
            }
        }
    }

    .item .start_container {
        display: none;
    }

    /* ENABLES ELLIPSIS SOMETIMES */
    #search_results_list .container p {
        text-overflow: ellipsis;
    }
}

.item.detailed {
    display: grid;
    grid-template-columns: minmax(256px, 1fr) 1fr;
    grid-template-rows: var(--item-height) 32px;
    @media only screen and (max-width: 1000px) { // $mobile-breakpoint (search.scss)
        grid-template-rows: calc(var(--item-height) - 16px) 48px;
    }
    grid-gap: 4px;
    padding-top: 8px;
    align-items: stretch;
    height: calc(var(--item-height) + 48px+ 4px + 8px);

    .front_container,
    .end_container {
        grid-row: 1 / 2;
    }
    & .bot_container {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        width: 100%;
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        .dl_count {
            &::before {
                content: "Downloads: "
            }
        }
        .date_updated {
            &::before {
                content: "Date Updated: "
            }
        }
        .latest_version {
            &::before {
                content: "Latest Version: "
            }
        }

        & > * {
            width: -moz-fit-content;
            width: fit-content;
            grid-column: auto;
            text-align: center;
            &::before {
                color: var(--color-text-1);
            }

            // border-radius: 4px;
        }
        
    }
}

.author {
    & > span {
        // margin-right: 0.5rem;
    }
    display: inline-flex;
    // border: 1px solid var(--color-text-1);
    // border-top: none;
    border-bottom: 1px solid var(--color-text-1);
    // border-radius: 1rem;
    // padding: 0 0.5rem;
    position: relative;
}

.item_author_list {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    gap: 0.25rem;
    padding: 0.35rem;
    border-radius: 0.25rem;

    position: absolute;
    top: 80%;

    background-color: var(--color-base);
    border: 1px solid var(--color-base-1);

    & > * {
        display: flex;
        flex-direction: row;
        display: contents;

        & > * {
            border-bottom: 1px solid var(--color-base-1);
        }
    }
}