
*::-webkit-scrollbar-track {
    background-color: var(--color-base-2);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-base-1);
    /* border: 0.2rem solid var(--color-base-1); */
    border-radius: 6px;
}

*::-webkit-scrollbar {
    width: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-accent-1);
}

* {
    scrollbar-width: initial;
    scrollbar-color: var(--color-base-1) var(--color-base-2);
  }