.tooltip {
    position: relative;
}

.tooltip:hover:after {
    content: attr(data-tooltip);
    padding: 4px 8px;
    width: max-content;
    transform: translateX(-50%);
    color: var(--color-text);
    background-color: var(--color-element);
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 10;
    font-size: 1em;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid var(--color-base-1);
    // border: 1px black solid;
    box-shadow: 0 0 3px var(--color-base-2);
}

.tooltip.right:after {
    left: 100%;
    transform: none;
    width: auto;
}
