
:root{
    --header-height: 0;
    --spacing-amount: 2vMin;
    
    --current-palette: 0;
    --color-base: #fafafa;
    --color-background: #f0f0f0;
    --color-element-1: #e0e0e0;
    --color-accent-1: #aaaaaa;
    --color-accent-2: #888888;
    --color-inverse: #333333;
    --color-text: #606060;
    --color-text-inverse: #d0d0d0;
    
    --shadow:0 0px 8px rgba(0, 0, 0, 0.15);

    --TEMPLATING-COLOR: none; /* #ff00ff */ /* #e0e0e0 */
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-background);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--color-text);
    /*border: 1px solid red;*/
    max-width:100%;
}
ul {
    list-style:none;
}
.filled {
    background-color: var(--color-background);
    /*background-color: none;*/
    border: 1px solid var(--TEMPLATING-COLOR);

    /*border-color: var(--color-accent-2);
    border-width: 2px;
    border-style: solid;*/
    border-radius: 4px;
    /*box-shadow: 3px 3px 3px #999999;*/
}

/* "filled element" is for TEMPLATING ONLY */
.filled .element {
    background-color: red;

    border-color: var(--TEMPLATING-COLOR);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-right:3.5%;
}

#page_container {
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between
}

.header {
    flex:1fr;

    background-color:var(--color-base);
    padding:4px;

    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:baseline;
    /*border: 4px solid #444444;*/
    box-shadow: var(--shadow);/*0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
}
.header .header_element {
    margin-right: var(--spacing-amount);
    margin-bottom: calc(0.5*var(--spacing-amount));
    /*border: solid black 2px;*/
}
.header #title {
    font-size: 3vMin;
    font-weight: bold;
    text-align:center;
    margin-left: var(--spacing-amount);
    white-space:nowrap;
}
.header #navbar {
    width:100%;
    font-size: 2vMin;
    /*border-left:var(--color-accent-2) 1px solid;
    border-right:var(--color-accent-2) 1px solid;
    background-color:aqua;*/

}
.header #navbar ul {
    margin-left: 0px;
    margin-right: 10px;
    width:100%;
    /*background-color:blue;*/
    

    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    
}
.header #navbar ul li {
    padding-left:1vMin;
    padding-right:1vMin;
    margin-right: 0px;
    margin-top:0;
    margin-bottom:0;
    font-size: 1.8vMin;
    border-right:var(--color-accent-2) 1px solid;
    background-color:var(--color-base);
    
}
.header #navbar ul li.list_end {
    border-right:none;
}
.header #settings {
    background-color: var(--color-inverse);
    color: var(--color-text-inverse);
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    align-self:center;
    padding-top:.15%;
    padding-bottom:.15%;
    border:none;
    border-radius:4px;
    box-shadow: var(--shadow);/*0 3px 4px rgba(0, 0, 0, 0.2);*/
}

.main {
    flex:3fr;
    padding: var(--spacing-amount);
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:stretch;
}
.main .sidebar {
    min-width: 200px;
    max-width:300px;
    /*height:800px;
    align-self:center;*/
}
.main .sidebar.left {
    flex:2;
}

.main #content_main {
    flex:8;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}
.main #content_main .searchbar {
    
    background-color: var(--color-base);
    /*opacity:0.6;*/
    box-shadow: var(--shadow);/*0 3px 4px rgba(0, 0, 0, 0.2);*/
    margin:8px;
    height:auto;
    width:66%;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
    
    /*Does not work in js retrieval for some reason*/
    --default-scale:0.95;
    scale:var(--default-scale);
}
.searchbar * {
    background-color:inherit;
    border:none;
    border-radius:4px;
    outline:none;
    
    font-size:1.2em;
    padding-top:1%;
    padding-bottom:.75%;
}
.searchbar .dropdown {
    justify-self:flex-end;
}
.searchbar .element {
    margin-right:4px;
}

.searchField {
    padding-left:0px;
    width:100%
}
input.searchField::placeholder {
    color:var(--color-text);
    opacity:0.6;
}
.material-icons {
    margin:4px;
}
.flex.row {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-content:baseline;
}
#content_main h1 {
    align-self:center;
    margin-top:var(--spacing-amount);
    padding-bottom:var(--spacing-amount);
    /*border-bottom: 1px solid var(--color-accent-1);*/
}
hr {
    display: block;
    overflow: hidden;
    padding-right: 33%;
    border-style: inset;
    border-width: 1px;
}
.category.grid {
    max-width:63vw;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    /*background-color:orange;*/
    border: 1px solid var(--TEMPLATING-COLOR);
}
.category.card {
    /*max-width:40vMin;*/
    width:300px;
    height:300px;
    min-height:30vMin;
    min-width:300px;
    max-width:450px;
    max-height:40vMin;
    background-color:var(--color-base);
    box-shadow: var(--shadow);/*0 3px 4px rgba(0, 0, 0, 0.2);*//*0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    margin-top:calc(2*var(--spacing-amount));
    margin-bottom:calc(2*var(--spacing-amount));
    margin-left:calc(0.5*var(--spacing-amount));
    margin-right:calc(0.5*var(--spacing-amount));

    border-radius:4px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
}
.card .category.label {

    font-size: 1.2em;
    margin:4%;
    margin-top:3%;
    margin-bottom:1.5%;
    padding-bottom:1.5%;
    border-bottom: 1px var(--color-accent-1) solid;
}
.card .category.desc {
    margin-left:4%;
    margin-right:4%;
    margin-top:0%;
    margin-bottom:4%;
    text-align:center;
}
.card img.category {
    justify-self: stretch;
    align-self:stretch;
    border-radius:inherit;
    /*width:300px*/
    height:200px;
    background-color:var(--TEMPLATING-COLOR);
}

.main .sidebar.right {
    flex:2;
}
.main .side_spacer {
    flex:0;
}
.spacer {
    flex:.15;
/*    width:var(--spacing-amount);
    height:var(--spacing-amount);*/
}
footer {
    flex:1fr;
    height:auto;
    background-color:var(--color-base);
    
    padding-top:1vh;
    padding-bottom:1vh;

    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    
}
footer h4 {
    font-size:1.45vMin;
}
footer .text_element {
    font-size:1.2vMin;
}


footer * {
    /*color: var(--color-text-inverse);*/
}
footer h3 {
    text-align:center;
}