.item {
  /* display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-items: flex-start; */
  display: grid;
  grid-template-columns: 82px minmax(0, 1fr);
  grid-gap: 6px;
  height: auto;
}

.item:nth-child(even) > .container {
  background-color: var(--color-element);
}

.item:nth-child(odd) > .container {
  background-color: var(--color-element-2);
}

.container > *:first-child {
  margin-right: 10px;
}

.container > *,
.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: var(--color-text-1);
}

.container > *:not(:last-child) {
  margin-right: 6px;
}

/* DISABLES WORD WRAP */
#search_results_list .container b,
.container a,
.container > ul,
.container > button,
#categories_list > li {
  overflow: visible;
  white-space: nowrap;
  min-width: min-content;
}

.name {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-accent-1);
}

.name:hover {
  text-decoration: underline;
}

.desc {
  margin: 0;
  /* height: 18px; */
  line-height: 1.35em;
  font-size: 0.85em;
}

.item_categories {
  /* width: 128px; */
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.container > :last-child {
  /* display: block; */
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  min-width: min-content;
  appearance: button;
}

.item .material-icons {
  font-size: 1.5em;
  font-weight: 300;
}

.out_link {
  width: 32px;
  height: 32px;
  max-height: 32px;
  line-height: 32px;
  margin-top: auto;
  margin-bottom: auto;
  visibility: hidden;
}

.item:hover .out_link {
  visibility: visible;
}

.start_container {
  float: left;
  z-index: 1;
  width: 82px;
  height: inherit;
  /*height of .container*/
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.dl_count {
  text-align: right;
  height: min-content;
}

.container {
  display: flex;
  align-items: center;
  height: var(--item-height);
  background-color: inherit;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--color-base);
  max-width: 100%;
  border-radius: 6px;
  /* width: 100%; */
}

.front_container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: calc(100% - 4px);
}

.end_container {
  flex: 1;
  display: grid;
  grid-template-columns: auto 32px;
  flex-wrap: nowrap;
  /* width: 33%; */
  height: 100%;
  align-content: center;
}

.container:hover {
  border: 1px solid var(--color-accent-1);
}

#categories {
  box-sizing: border-box;
  background-color: var(--color-element);
  border-radius: 8px;
  padding: 8px;
  margin-left: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
#categories > hr {
  color: var(--color-accent-1);
  border-color: var(--color-accent-1);
}

#categories_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100%;
  min-height: 0;
  max-height: inherit;
}

#categories_list > li {
  border-radius: 12px;
  width: min-content;
  cursor: pointer;
  border: 2px solid var(--color-element-1);
}

#categories_list > :hover {
  border: 2px solid var(--color-accent-2);
}

#categories_list > li.selected {
  border: 2px solid var(--color-accent-1);
}

#categories_list > li > span {
  background-color: var(--color-element);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
  pointer-events: none;
}

#categories_list_toggle {
  display: none;
}

#search_container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  position: relative;
  z-index: 2;
  grid-row: searchbar-start/searchbar-end;
}
#search_container > a {
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--color-base-1);
  padding-left: 6px;
  padding-right: 4px;
  background-color: var(--color-base-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
#search_container > a:hover {
  background-color: var(--color-base-1);
}
.searchbar {
  width: clamp(128px, 600px, 100%);
  border-radius: 4px;
  border: 1px solid var(--color-element-1);
}
.searchbar:hover, .searchbar:focus-within, .searchbar:active {
  border: 1px solid var(--color-accent-1);
}

label.searchbar {
  background-color: var(--color-element);
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 42px;
}

.searchbar * {
  background-color: inherit;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 1.2em;
}

.searchbar .dropdown {
  justify-self: flex-end;
}

.searchbar .element {
  margin-right: 4px;
}

.searchField {
  padding-left: 0px;
  width: 100%;
}

input.searchField::placeholder {
  color: var(--color-text);
  opacity: 0.6;
}

#search_container {
  max-width: var(--list-width);
}

.item_categories {
  font-size: 0.85em;
  list-style-type: none;
}

:root {
  --spacing-amount: 16px;
  --shadow:0 0px 8px rgba(var(--color-text-rgb), 0.15);
}

#page_container {
  /* position:relative; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* overflow: auto; */
}

#content_main {
  /* position: relative; */
  overflow-y: auto;
  display: grid;
  grid-template-rows: [main-start] 100%;
  --list-width: clamp(256px, 900px, 100%);
}

#content_body {
  grid-row: main-start/footer-start;
  /* height: 2000px; */
}

footer {
  grid-row: footer-start/main-end;
}

#content_body {
  box-sizing: border-box;
  /* display: block; */
  --navbar-height: 57px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: grid;
  grid-template-columns: 128px[left-end] minmax(0, 1fr) [right-start]; */
}

.filled {
  background-color: var(--color-background);
}

#content_center {
  --gap: 8px;
  width: 100%;
  height: calc(100% - var(--gap));
  display: grid;
  gap: var(--gap);
  margin-top: var(--gap);
}

@media only screen and (max-width: 1162px) {
  #content_body {
    min-height: 0;
  }

  #content_center {
    width: calc(100% - 1rem);
    max-height: 100%;
    grid-template-rows: [searchbar-start] 58px [searchbar-end] min-content [categories-end] auto [list-end];
    grid-template-columns: 100%;
    justify-items: center;
    justify-content: center;
  }

  #search_container {
    width: 100%;
  }

  .sidebar_left {
    grid-row: searchbar-end/categories-end;
    min-height: 0;
    /* NEW */
    min-width: 0;
    /* NEW; needed for Firefox */
    width: 100%;
  }

  div#search_results_list {
    grid-row: categories-end/list-end;
  }

  #categories_wrapper {
    max-height: 256px;
    width: 100%;
  }
  #categories_wrapper > #categories {
    position: relative;
    width: 100%;
    height: min-content;
  }
  #categories_wrapper > #categories #categories_list_wrapper {
    overflow-x: scroll;
    width: 100%;
    background-color: var(--color-element);
  }
  #categories_wrapper > #categories #cat_head {
    cursor: pointer;
  }
  #categories_wrapper > #categories #cat_head #categories_list_toggle {
    display: block;
    margin-left: auto;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  #categories_wrapper > #categories hr, #categories_wrapper > #categories #categories_list_wrapper {
    height: 0;
    display: none;
  }
  #categories_wrapper > #categories.open hr {
    display: block;
  }
  #categories_wrapper > #categories.open #categories_list_wrapper {
    top: 100%;
    left: 0;
    height: auto;
    width: 100%;
    display: block;
  }
  #categories_wrapper #categories_list {
    flex-direction: row;
    max-height: 256px;
    width: 1000px;
    transition: height 0.5s;
    will-change: height;
  }

  .item {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 6px;
    height: auto;
  }
  .item .desc {
    max-height: 100%;
  }
  .item .end_container {
    display: block;
  }
  .item .end_container > a {
    display: none;
  }

  .item .start_container {
    display: none;
  }

  /* ENABLES ELLIPSIS SOMETIMES */
  #search_results_list .container p {
    text-overflow: ellipsis;
  }
}
@media only screen and (min-width: 1162px) {
  #content_body {
    /* padding: var(--spacing-amount); */
  }

  #content_center {
    --list-height: calc(100vh - (56px + var(--spacing-amount) + (8px + 42px + 8px)));
    grid-template-rows: [searchbar-start] 58px [searchbar-end] var(--list-height) [list-end];
    /* grid-template-columns: [categories-start]384px[categories-end] min-content[content-end]; */
    grid-template-columns: [categories-start] 1fr [categories-end] 3fr [content-end];
  }

  #search_container {
    grid-column: categories-end/content-end;
  }

  #content_center .searchbar {
    margin-left: calc(89px + 8px);
  }

  .sidebar_left {
    grid-row: searchbar-end/list-end;
    grid-column: categories-start/categories-end;
    display: grid;
    grid-template-rows: [cat-start] 1fr [cat-end] min-content [info-end];
  }
  .sidebar_left > *:last-child {
    grid-row: cat-end/info-end;
  }

  #categories_wrapper {
    height: auto;
    min-height: 0;
    grid-row: cat-start/cat-end;
  }
  #categories_wrapper > #categories {
    width: clamp(256px, 36ch, 48ch);
    height: auto;
    max-height: 100%;
    min-height: 0;
  }

  #search_results_list {
    grid-row: searchbar-end/list-end;
    grid-column: categories-end/content-end;
    max-height: calc(100vh - (56px + var(--spacing-amount) + (8px + 42px + 8px)));
  }
}
#search_results_list {
  /* position: absolute; */
  /*top: calc(56px + var(--spacing-amount) + (8px + 42px + 8px) );/*header + content_main.padding + searchbar*/
  /* max-width: 682px;
  width: 682px; */
  position: relative;
  left: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  list-style-type: none;
  will-change: contents;
  width: var(--list-width);
  /* display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-shrink: 0; */
  --pseudo-padding: 8px;
  --title-font-size: 21px;
  --desc-font-size: 15px;
  --desc-line-count: 3;
  --border-thickness: 1px;
  --item-height: calc(2 * var(--pseudo-padding) + var(--title-font-size) + var(--desc-font-size) * var(--desc-line-count));
}

.item_categories > li,
#categories_list > li {
  /* display: inline; */
  height: auto;
  margin-right: 4px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 12px;
  background-color: var(--color-element-1);
  /* border: 1px solid var(--color-accent-1); */
}

.item_batch {
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-row-gap: 4px;
  margin-bottom: 4px;
}

.material-icons {
  margin: 4px;
}

#content_center h1 {
  align-self: center;
  margin-top: var(--spacing-amount);
  /*border-bottom: 1px solid var(--color-accent-1);*/
}

hr {
  display: block;
  overflow: hidden;
  padding-right: 33%;
  border-style: inset;
  border-width: 1px;
  margin-top: var(--spacing-amount);
  margin-bottom: var(--spacing-amount);
}

.main .sidebar.right {
  flex: 2;
}

.main .side_spacer {
  flex: 0;
}

.spacer {
  flex: 0.15;
  /*    width:var(--spacing-amount);
      height:var(--spacing-amount);*/
}

footer {
  /* flex:1fr; */
  height: auto;
  background-color: var(--color-base);
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid var(--color-base-1);
}

footer .text_element {
  font-size: 0.8rem;
}

footer h3 {
  text-align: center;
}

.scripts {
  display: none;
}

.sidebar_left #last_updated_timestamp,
.sidebar_left #gist_link {
  color: var(--color-text-1);
  text-align: end;
  margin-top: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=search.css.map */
